.learning-card {
  height: 20%;
  width: 37%;
  background-color: gray;
  margin-top: 15px;
  margin-left: 10%;
  border-radius: 20px;
}

/* progress {
  background: green;
  border-radius: 20px;
} */
