.learning-card {
  height: 20%;
  width: 41.8%;
  display: flex;
  flex-direction: row;
  background-color: #e9e6e6;
  margin-top: 15px;
  margin-right: 35px;
  border-radius: 20px;
  align-items: center;
}

.learning-card img {
  height: 90%;
  width: 30%;
  margin-left: 5px;
  padding: 5px 0 5px 0;
  border-radius: 20px;
}

.bookmark-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  bottom: 0;
  top: 0;
  right: 0;
  left: 290px;
}

.bookmark-icon img {
  width: 20px;
  height: 20px;
  margin-left: -1px;
  /* z-index: 1;
  position: relative;
  top: 13px; */
}

.topic {
  margin-top: -30px;
}

.learning-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/* Style the container of the progress bar */
/* progress {
  margin-left: 160px;
  width: 160px;
  height: 20px;
} */

/* Style the filled portion of the progress bar for WebKit browsers (Chrome, Safari) */
/* progress::-webkit-progress-value { */
/* background-color: pink; Change the color of the filled portion */
/* border-radius: 10px; Add border radius if needed */
/* } */

/*                                             */
progress {
  margin-left: 10px;
  width: 310px;
  height: 5px;
  border-radius: 20px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #eeeeee;
}

progress::-webkit-progress-value {
  background-color: gray !important;
}

/* progress {
  margin-left: 160px;
  background-color: pink;
}

progress::-webkit-progress-value {
   Change the color of the "filled" portion for WebKit browsers (Chrome, Safari) 
  background-color: blue;
} */

.instructor-name {
  padding-bottom: 10px;
  font-size: small;
}

.percent-completed {
  padding-top: 10px;
  font-size: small;
}
