.home button {
  background-color: black;
  color: white;
  margin-left: 44%;
  width: 10%;
  height: 30px;
  margin-top: 20px;
  border-radius: 20px;
}

.home h2 {
  margin-left: 7%;
  padding: 1% 0 0 3%;
}
