* {
  padding: 0;
  margin: 0;
}

.instructor-cards {
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  width: 90%;
  padding-left: 3%;
  margin-left: 7%;
  margin-bottom: 1%;
}
